<div class="container">
  <h1>All flats</h1>

  <h3 class="mt-5 mb-3">1- Triggering the status change after clicking on the <strong>confirm</strong> button</h3>
  <ul>
    <% @flats.each do |flat| %>
      <% if flat.kind == "appartment" %>
        <%= render "flat", flat: flat %>
      <% end %>
    <% end %>
  </ul>

  <h3 class="mt-5 mb-3">2- Triggering the sweet alert after status change</h3>
    <ul>
      <% @flats.each do |flat| %>
        <% if flat.kind == "house" %>
          <%= render "flat2", flat: flat %>
        <% end %>
      <% end %>
    </ul>
  
  <%= link_to "Reset", reset_path, class: "btn btn-primary" %>
</div>

